:root {
  --dark-blue: hsl(243, 81%, 20%);
  --gold: hsl(41, 75%, 67%);
  --white: hsl(0, 0%, 100%);
  --grey-1: hsl(0, 0%, 95%);
  --grey-2: hsl(0, 0%, 85%);
  --grey-3: hsl(0, 0%, 67%);
  --grey-4: hsl(0, 0%, 47%);
  --grey-5: hsl(0, 0%, 39%);
  --grey-6: hsl(0, 0%, 33%);
  --grey-7: hsl(0, 0%, 22%);
  --black: hsl(0, 0%, 0%);

  --font-normal: 400;
  --font-medium: 500;
  --font-bold: 700;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}
html {
  /* scroll-behavior: smooth; */
  overflow-x: hidden;
}
html, body, #root {
  height: 100%;
  font-size: 16px;
}

.landing-page-container {
  display: flex;
  flex-direction: column;
}

.full-screen-section {
  height: 100vh;
  display: flex;
  padding-top: 5.5rem;
}

.navbar {
  position: fixed;
  top: 0;
  background-color: var(--white);
  width: 100%;
  color: var(--grey-5);
  padding: 1rem;
  z-index: 10;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 2px 8px hsla(0, 0%, 33%, 0.25);
  font-weight: var(--font-medium);
  display: flex;
  justify-content: space-between;
  padding: 2rem 3rem;
}
.company-name {
  color: var(--dark-blue);
  font-size: 1.25rem;
  font-weight: var(--font-bold);
}
.navbar ul {
  list-style: none;
  display: flex;
  gap: 1rem;
}
.navbar ul .active {
  color: var(--dark-blue);
}
.navbar.scrolled {
  background-color: var(--grey-1);
  box-shadow: 0 2px 10px hsla(0, 0, 33%, 0.25);
}

.home-section {
  position: relative;
}
.home-info {
  width: 100%;
  padding: 2rem 3rem 3rem 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  z-index: 2;
}
.home-info h1 {
  font-family: 'Playfair Display', serif;
  font-size: 3.5rem;
  color: var(--black);
}
.home-info h1 #elegance {
  font-family: 'Playfair Display', serif;
  font-style: italic;
  color: var(--dark-blue);
}
.home-info h1 #power {
  font-family: 'Playfair Display', serif;
  font-weight: 800;
  color: var(--black);
}
.home-desc {
  width: 75%;
}
.home-desc p {
  font-size: 1.125rem;
  color: var(--white);
  font-weight: var(--font-medium);
}
.home-desc p:first-of-type {
  margin-bottom: 1rem;
}
.home-desc p:nth-child(2) {
  margin-bottom: 2rem;
}
.home-info button,
.about-section button {
  width: 14rem;
  padding: 1rem;
  font-size: 1.125rem;
  font-weight: var(--font-bold);
  color: var(--white);
  background-color: var(--dark-blue);
  border: none;
  border-radius: 36px;
  box-shadow: 0 4px 4px hsla(0, 0%, 0%, 0.25);
}
.home-img-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.home-img {
  height: 119%;
  width: 100%;
  object-fit: cover;
}


.about-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 3.5rem 6rem 4rem;
  text-align: center;
}
.about-content-container {
  position: relative;
  width: 100%;
  height: 52%;
}
.about-desc {
  position: relative;
  z-index: 2;
  width: 55%;
  height: 100%;
  padding: 2rem 3rem;
  text-align: left;
}
.about-desc h2 {
  font-family: 'Playfair Display', serif;
  font-weight: var(--font-bold);
  font-size: 3rem;
  color: var(--dark-blue);
  margin-bottom: 2rem;
}
.about-desc p {
  font-size: 1.125rem;
  line-height: 2rem;
  color: var(--grey-7);
}
.about-desc p span:nth-child(1) {
  color: var(--dark-blue);
}
.about-desc p span:nth-child(2) {
  font-weight: var(--font-medium);
  font-style: italic;
}
.about-img-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.about-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.about-stats,
.about-stats {
  display: flex;
}
.stat {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  width: 25%;
}
.stat-num {
  font-family: "Poltawski Nowy", serif;
  font-weight: var(--font-medium);
  font-size: 2.5rem;
  color: var(--dark-blue);
  margin-bottom: 0.5rem;
}
.stat-desc {
  font-size: 1.125rem;
  color: var(--grey-7);
}
.review-stars {
  display: flex;
  height: 100%;
  gap: 0.25rem;
}
.ri-star-fill {
  display: flex;
  height: 100%;
  color: var(--gold);
}
.vl {
  height: 100%;
  border-left: 1px solid var(--grey-4);
}
.about-section button {
  width: 13rem;
  margin-bottom: 2rem;
}

.faq-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer {
  width: 100%;
}
.f-socials li {
  list-style: none;
}